[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/magaofei
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/magaofei
	label-Verified = -1..+1 group user/magaofei
	push = group user/magaofei
	read = group user/magaofei
	rebase = group user/magaofei
	removeReviewer = group user/magaofei
	submit = group user/magaofei
[access "refs/heads/*"]
	create = group user/magaofei
	push = +force group user/magaofei
	pushMerge = group user/magaofei
	read = group user/magaofei
[access "refs/tags/*"]
	push = group user/magaofei
	push = +force group user/magaofei
